html {
    background: url(http://mayang.com/textures/Wood/images/Flat%20Wood%20Textures/wooden_tabletop_1012121.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
}

/*BACKGROUND BUTTONS*/

#background-styles {
    float: left;
}

.background-button {
    height: 30px;
    width: 30px;
    padding: 2px 2px;
}

.background-button img {
    height: 28px;
    width: auto;
    overflow: hidden;
}

/*SEARCHFORM*/

#search-form {
    width: 750px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

#search-box {
    border: none;
    border-bottom: 1px solid #999;
    width: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333333;
    letter-spacing: -2px;
    font-size: 32pt;
}

/*PHOTO ALBUM*/

.photo_album{
    margin:30px auto;
    width:800px;
    height:700px;
}
/*
#flipbook{
    width:800px !important;
    margin:0px auto !important;
}
*/

/* TURN JS-STYLES */
.hard {
    background: #f4f4f4;
}

.pages {
    background: #f7f7f7;
}

/*LATER FOR FADE ANIMATIONS*/
@-webkit-keyframes 'fade-in' {
    from {
        opacity: 0.0;
    } to {
          opacity: 1.0;
      }
}

@-webkit-keyframes 'fade-out' {
    from {
        opacity: 1.0;
    } to {
          opacity: 0.0;
      }
}

.fade-in {
    -webkit-animation-name: 'fade-in';
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.fade-out {
    -webkit-animation-name: 'fade-out';
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

/*PHOTO CONTAINER*/
#photo-and-controls-container {
    width:400px;
    height: 567px;
    overflow: hidden;
}

#photo-container-1, #photo-container-2, #photo-container-3 {
    width:400px;
}

.photo {
    width: 330px;
    height: 182px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-size: cover;
    background-position: center center;
    margin-top: 5px;
}

.even .photo {
    margin-left: 55px;
}

#photo-container .photo:not(:nth-child(3n)) {
    margin-right: 5px;
}

/*NAVIGATION*/

.nav-button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 350px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.nav-left {
    left: 15px;
    background-image: url('Images/left_arrow.png');
}

.nav-right {
    right: 15px;
    background-image: url('Images/right_arrow.png');
}

/*MYPHOTOBOOK*/

#MyPhotobook {
    float: right;
    margin-top: 10px;
}

#MyPhotobook img {
    width: 200px;
    height: auto;
}

/*DRAG'N'DROP*/

.draggable {
    cursor: move;
}
