html {
    background: url(Images/Background/wood_dark.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
}

@font-face {
    font-family: 'writtenNotes';
    src: url('fonts/AlwaysForever.ttf');
    src: url('fonts/AlwaysForever.otf');
}

@font-face {
    font-family: 'photobookTitle';
    src: url('fonts/Sketch_Block.ttf');
    src: url('fonts/Sketch_Block.otf');
}

/*BACKGROUND BUTTONS*/

#background-styles {
    float: left;
    height: 30px;
}

.background-button {
    height: 30px;
    width: 30px;
    border-width: 3px;
    padding: 0;
}

.background-button img {
    height: 28px;
    width: auto;
    /*overflow: hidden;*/
}

/*SEARCHFORM*/

#search-form {
    width: 50%;
    margin: 15px auto 0;
    float: none;
    -moz-box-shadow: 5px 4px 30px -1px #000;
    -webkit-box-shadow: 5px 4px 30px -1px #000;
    box-shadow: 5px 4px 30px -1px #000;
}

#search-box {
    border: none;
    /*border-bottom: 1px solid #999;*/
    width: 100%;
    text-indent: 5px;
    font-family: "writtenNotes", Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    letter-spacing: 2px;
    font-size: 32pt;
}

#search_button{
    height: 38.5px;
    width: 45px;
    border-radius: 6px;
    /* border: 1px solid black; */
    color: white !important;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    float: right;
    outline: 0;
    background-color: #746767;
    margin-left: 46.35%;
    position: absolute;
    margin-top: -2.68%;
    padding: 0 !important;
}

/*LOGO*/
#logo {
    font-family: "photobookTitle", Arial, sans-serif;
    font-size: 35px;
    float: right;
    color: white;
    text-shadow: 3px 4px #000;
    margin: 15px 1px 0px 0px;
}

#logo p {
    margin-top: -30%;
}

/*FLIPBOOK*/

.photo_album{
    margin:30px auto;
    width:800px;
    height:700px;
}
/*
#flipbook{
    width:800px !important;
    margin:0px auto !important;
}*/

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
}

#flipbook .shadow,
#flipbook.shadow{
    -webkit-box-shadow: 0 4px 10px #000;
    -moz-box-shadow: 0 4px 10px #000;
    -ms-box-shadow: 0 4px 10px #000;
    -o-box-shadow: 0 4px 10px #000;
    box-shadow: 0 4px 10px #000;
}

.bookMessage {
    font-family: "writtenNotes", Arial, sans-serif;
    width: 80%;
    margin: 15% auto;
}

.bookMessage h1 {
    font-size: 65px;
    text-align: center;
    margin-bottom: 5px;
}

.bookMessage h2 {
    font-size: 40px;
    margin: 5px 0;
}

.bookMessage p {
    margin: 10px 0;
    font-size: 30px;
}

/*PHOTO CONTAINER*/

#photo-and-controls-container {
    width:400px;
    height: 567px;
    overflow: hidden;
}

#photo-container-1, #photo-container-2, #photo-container-3 {
    width:400px;
}

.photo {
    width: 330px;
    height: 182px;
    margin-bottom: 5px;
    margin-left: 5px;
    /*background-size: cover;
    background-position: center center;*/
    margin-top: 5px;
}

.even .photo {
    margin-left: 55px;
}

#photo-container .photo:not(:nth-child(3n)) {
    margin-right: 5px;
}

.hard, .pages{
    background-color:#FFFFEB;
}

/*MYPHOTOBOOK*/

#my_photo_book_target {
    /*position: absolute;
    float: right;
    margin-top: 10px;*/
}

#my_photo_book_target img {
    width: 200px;
    height: auto;
    position: absolute;
    margin-left: 1290px;
    margin-top: -230px;
    float: right;
    margin-bottom: 0px;
}

#titleLabel{
    height: 40px;
    background-color: #FFFFEB;
    position: absolute;
    bottom: 130px;
    left: 1322px;
    /* top: 0%; */
    width: 157px;
    float: right;
    /* right: 1%; */
    border-radius: 2px;
}

#label_text{
    text-align: center;
    margin-top: 7%;
    font-size: 19px;
    color: black;
    font-family: "photobookTitle", Arial, sans-serif;
}

/*DRAG'N'DROP*/

.draggable {
    cursor: move;
}

#storagePic {
    height: 100px;
    wifth: 100px;
}

/*TURN JS-STYLES*/
.hard {
    background: #f4f4f4;
}

.pages {
    background: #f7f7f7;
}

/*LATER FOR FADE ANIMATIONS*/
@-webkit-keyframes 'fade-in' {
    from {
        opacity: 0.0;
    } to {
          opacity: 1.0;
    }
}

@-webkit-keyframes 'fade-out' {
    from {
        opacity: 1.0;
    } to {
          opacity: 0.0;
    }
}

.fade-in {
    -webkit-animation-name: 'fade-in';
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.fade-out {
    -webkit-animation-name: 'fade-out';
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

/*NAVIGATION*/

.nav-button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 350px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.nav-left {
    left: 15px;
    background-image: url('Images/left_arrow.png');
}

.nav-right {
    right: 15px;
    background-image: url('Images/right_arrow.png');
}